<section class="bg-gradient-to-bl from-emerald-400 via-violet-600 to-cyan-400 sm:h-screen text-center relative overflow-hidden flex flex-col md:flex-row">
      
      <div class="mx-5 sm:mx-auto my-10 max-w-screen-xl sm:flex gap-20">
        <div class="w-full sm:w-2/3">
          <span class="text-orange-600 uppercase font-medium text-3xl mb-4 block">¡Libérate de las deudas hoy!</span>
          <h1 class="text-7xl text-white font-extrabold">Asesorías y Defensa de Deudas Chile</h1>
          <div class="mx-auto my-6 flex justify-center">
            <span class="inline-block h-1 w-40 rounded-full bg-blue-500"></span>
            <span class="mx-1 inline-block h-1 w-3 rounded-full bg-blue-500"></span>
            <span class="inline-block h-1 w-1 rounded-full bg-blue-500"></span>
          </div>
          <p class="text-slate-200">
            Profesionales con +10 años de experiencia. Defensa Total. Protección de bienes.
          </p>
          <div class="flex gap-8 mt-10 justify-center">
            <a href="#Servicios" class="py-4 rounded-xl shadow-2xl text-white bg-orange-700 w-44">
              Mas Información
            </a>
            <a href="#faq" class="py-4 rounded-xl shadow-2xl text-white bg-blue-500 w-44">
              Preguntas Frecuentes
            </a>
          </div>
        </div>
        <div class="w-full pt-4 sm:pt-0 sm:w-1/3">
          <div id="formularioContainer">
            <form id="contactForm" class="bg-blue-500 p-10 rounded-lg shadow-2xl">
                <span class="text-white uppercase font-medium mb-4 block">DEJA TUS DATOS Y TE CONTACTAREMOS</span>
                <div class="flex flex-col">
                    <label for="name" class="hidden">Nombre completo</label>
                    <input type="text" name="name" id="name" placeholder="Nombre Apellido" class="w-100 mt-2 py-3 px-3 rounded-lg bg-white dark:bg-gray-800 border border-gray-400 dark:border-gray-700 text-gray-800 dark:text-white font-semibold focus:border-indigo-500 focus:outline-none">
                </div>

                <div class="flex flex-col mt-2">
                    <label for="email" class="hidden">Email</label>
                    <input type="email" name="email" id="email" placeholder="Email" class="w-100 mt-2 py-3 px-3 rounded-lg bg-white dark:bg-gray-800 border border-gray-400 dark:border-gray-700 text-gray-800 dark:text-white font-semibold focus:border-indigo-500 focus:outline-none">
                </div>

                <div class="flex flex-col mt-2">
                    <label for="tel" class="hidden">Telefono</label>
                    <input type="tel" name="tel" id="tel" placeholder="Numero Telefonico" class="w-100 mt-2 py-3 px-3 rounded-lg bg-white dark:bg-gray-800 border border-gray-400 dark:border-gray-700 text-gray-800 dark:text-white font-semibold focus:border-indigo-500 focus:outline-none">
                </div>

                <div class="flex flex-col mt-2">
                    <label for="comentarios" class="hidden">Comentarios</label>
                    <textarea name="comentarios" id="comentarios" placeholder="Descripción de tu caso" class="w-100 mt-2 py-3 px-3 rounded-lg bg-white dark:bg-gray-800 border border-gray-400 dark:border-gray-700 text-gray-800 dark:text-white font-semibold focus:border-indigo-500 focus:outline-none"></textarea>
                </div>

                <button type="submit" class="md:w-32 bg-indigo-600 hover:bg-blue-dark text-white font-bold py-3 px-6 rounded-lg mt-3 hover:bg-indigo-500 transition ease-in-out duration-300">
                    Enviar
                </button>
            </form>
          </div>

          <div id="loadingIndicator" style="display: none;" class="text-center mt-2 bg-blue-500 p-10 rounded-lg shadow-2xl">
            <div class="loader"></div>
            <h1 class="text-4xl text-white font-extrabold">Cargando</h1>
            <div class="mx-auto my-6 flex justify-center">
                <span class="inline-block h-1 w-40 rounded-full bg-blue-500"></span>
                <span class="mx-1 inline-block h-1 w-3 rounded-full bg-blue-500"></span>
                <span class="inline-block h-1 w-1 rounded-full bg-blue-500"></span>
            </div>
            <p class="text-slate-200">
                Estamos realizando el envio de tus datos.
            </p>

          </div>

          <div id="resultadoContainer" style="display: none;" class="bg-blue-500 p-10 rounded-lg shadow-2xl">
                <p id="resultadoMensaje"  class="text-4xl text-white font-extrabold"></p>
                <div class="mx-auto my-6 flex justify-center">
                    <span class="inline-block h-1 w-40 rounded-full bg-blue-500"></span>
                    <span class="mx-1 inline-block h-1 w-3 rounded-full bg-blue-500"></span>
                    <span class="inline-block h-1 w-1 rounded-full bg-blue-500"></span>
                </div>
                <p class="text-slate-200">
                    Uno de nuestros Profesionales se contactará contigo.
                </p>
          </div>
        </div>

      </div>
      
      
</section>

<style>
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
</style>

<script>
document.getElementById('contactForm').addEventListener('submit', function (event) {
    event.preventDefault(); // Evitar que el formulario se envíe normalmente

    var formData = new FormData(this);

    // Ocultar el formulario y mostrar el indicador de carga
    document.getElementById('formularioContainer').style.display = 'none';
    document.getElementById('loadingIndicator').style.display = 'block';

    // Serializar los datos del formulario para incluirlos en la URL
    var queryParams = new URLSearchParams(formData).toString();

    fetch('https://fenix.asesoriaydefensadeudas.cl/contacto?' + queryParams, {
        method: 'GET'
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Hubo un problema al enviar el formulario.');
        }
        return response.json();
    })
    .then(data => {
        console.log('Respuesta del servidor:', data);
        document.getElementById('resultadoContainer').style.display = 'block';
        document.getElementById('resultadoMensaje').innerText = '¡Formulario enviado correctamente!';
        // Ocultar el indicador de carga
        document.getElementById('loadingIndicator').style.display = 'none';
    })
    .catch(error => {
        console.error('Error al enviar el formulario:', error);
        alert('Hubo un error al enviar el formulario. Por favor, inténtalo de nuevo.');
        // Mostrar el formulario de nuevo y ocultar el indicador de carga
        document.getElementById('formularioContainer').style.display = 'block';
        document.getElementById('loadingIndicator').style.display = 'none';
    });
});
</script>
