---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero1.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Abogados de deudas y Quiebras — Asesoria y Defensa Deudas',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
  id="Contacto" />

  <!-- Note Widget ******************* -->

  <Note />
  <Stats
    stats={[
      { title: 'Asesorias y Acompañamientos legales', amount: '132K' },
      { title: 'Asesorias a Empresas', amount: '24.8K' },
      { title: 'Soluciones Legales', amount: '10.3K' },
    ]}
  />

  <Content
    isReversed
    tagline=""
    id="Nosotros"
    title="Sobre Nosotros"
    items={[
      {
        title: 'Experiencia especializada',
        description:
          'Destaca la experiencia y el conocimiento profundo de tu equipo en el área específica de defensa legal y financiera relacionada con deudas. Puedes mencionar la amplia trayectoria y los años de experiencia de tus profesionales en este campo, lo que inspira confianza y credibilidad en tus servicios.',
      },
      {
        title: 'Enfoque multidisciplinario',
        description:
          'Resalta la capacidad de tu equipo para abordar desafíos financieros complejos desde diferentes perspectivas. El enfoque multidisciplinario sugiere que tu equipo no solo tiene experiencia legal, sino también conocimientos en finanzas y otros campos relevantes, lo que les permite ofrecer soluciones integrales y efectivas a tus clientes.',
      },
      {
        title: 'Compromiso con la excelencia y la justicia',
        description:
          'Subraya tu compromiso con brindar un servicio de calidad, orientado hacia la excelencia y la justicia. Destaca tu dedicación para proteger los intereses de tus clientes y ayudarles a superar situaciones financieras difíciles de una manera ética y equitativa. Esta característica refuerza la confianza de tus clientes en tu equipo y demuestra tus valores fundamentales como empresa.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Asesoria y defensa deudas</h3>
En Asesoría y defensa deudas, somos un equipo unido de expertos en defensa legal y financiera, comprometidos con la excelencia y la justicia. Con profesionales con años de experiencia en deudas, nuestro enfoque multidisciplinario nos permite ofrecer soluciones efectivas y proteger tus intereses frente a desafíos financieros complejos. Entendemos las dificultades de enfrentar deudas y procesos legales intimidantes, por lo que nos dedicamos a brindarte un servicio de calidad, humanidad y resultados sobresalientes.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>


    <!-- Features Widget *************** -->

  <Features
    id="Servicios"
    tagline="Servicios"
    title="Enfrenta Tus Deudas Judicialmente, ¡Ahora! 🤝 Asesoría Legal Gratuita"
    subtitle="Nuestros abogados expertos están para asesorarte!"
    items={[
      {
        title: 'Defensa Total',
        description:
          'La Defensa Total de Defensa Deudas Chile ofrece un escudo legal impenetrable contra acciones de cobro indebido. Nuestros expertos se enfocan en salvaguardar tus derechos, creando una fortaleza alrededor de tus finanzas para asegurar un futuro sin la carga de las deudas.',
        icon: 'tabler:shield',
      },
      {
        title: 'Protección de Bienes',
        description:
          'Con la Protección de Bienes de Defensa Deudas Chile, tu patrimonio está seguro. Nuestra intervención legal detiene a los acreedores en sus pistas, protegiendo tus activos más valiosos y tu legado de las garras de la deuda de terceros.',
        icon: 'tabler:components',
      },
      {
        title: 'Adiós Antecedentes Comerciales',
        description:
          'Dile Adiós a los Antecedentes Comerciales con Defensa Deudas Chile es tu borrador para el pasado financiero que deseas dejar atrás. Limpiamos tu historial, ofreciéndote un lienzo en blanco para reconstruir tu reputación financiera con confianza y legitimidad.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Prepara tu Defensa',
        description:
          'Asesoria y Defensa Deudas pone la previsión a tu favor. Nuestra estrategia proactiva garantiza que estés siempre un paso adelante, anticipando movimientos legales y preparando defensas sólidas antes de que las deudas toquen tu puerta.',
        icon: 'tabler:gavel',
      },
      {
        title: 'Prescripciones',
        description:
          "Con nuestro servicio de Prescripción de Deuda de Defensa Deudas Chile, el tiempo está de tu lado. Nos encargamos de que los plazos legales trabajen en tu beneficio, guiándote hacia la liberación de deudas antiguas y ofreciéndote un nuevo comienzo financiero.",
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Ley de Quiebras para Personas',
        description:
          'En Asesoria y Defensa Deudas, entendemos lo abrumador que pueden ser las deudas. Por eso, nos dedicamos a defender tus intereses frente a los acreedores, asegurando que el proceso de acogerte a la Ley de Quiebras sea lo más beneficioso posible para ti y tu familia.',
        icon: 'tabler:bulb',
      },
    ]}
  />

  <Steps
    title="Tu camino hacia la libertad financiera: Asesoría personalizada, estrategias integrales y defensa continua en Asesoría y Defensa de Deudas."
    items={[
      {
        title: 'Paso 1: <span class="font-medium">Consulta inicial personalizada</span>',
        description:
          "Comenzamos nuestro proceso ofreciéndote una consulta inicial personalizada y gratuita. En esta consulta, nuestros expertos en deudas y asesores legales escucharán atentamente tu situación financiera y legal. Comprenderemos tus desafíos específicos y tus metas, para poder diseñar una estrategia efectiva y personalizada para ti.",
        icon: 'tabler:package',
      },
      {
        title: 'Paso 2: <span class="font-medium">Desarrollo de estrategia integral</em>',
        description:
          "Una vez que entendamos completamente tu situación, nuestro equipo multidisciplinario trabajará en conjunto para desarrollar una estrategia integral para abordar tus deudas y desafíos legales. Esta estrategia puede incluir negociaciones con acreedores, desarrollo de planes de pago, defensa legal en procesos judiciales, entre otros enfoques adaptados a tus necesidades únicas.",
        icon: 'tabler:letter-case',
      },
      {
        title: 'Paso 3: <span class="font-medium">Acompañamiento y defensa continua</span>',
        description:
          'En Asesoría y Defensa de Deudas, no solo te ofrecemos soluciones rápidas, sino que también te brindamos un acompañamiento continuo a lo largo de todo el proceso. Nuestro compromiso es proteger tus intereses y proporcionarte tranquilidad en medio de situaciones financieras difíciles. Estaremos contigo en cada paso del camino, proporcionándote apoyo humano, orientación experta y trabajando incansablemente para lograr resultados sobresalientes en tu caso.',
        icon: 'tabler:paint',
      },
      {
        title: 'Listo!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />

  <!-- HighlightedPosts Widget ******* -->

  <!--<BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                        Astro is a very interesting technology. Thanks.
                `}
  />--->

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Preguntas Frecuentes"
    subtitle="Respuestas claras para tus dudas más comunes: Encuentra aquí las respuestas que necesitas para tomar el control de tus deudas y proteger tus intereses."
    tagline="FAQs"
    id="faq"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: '¿Qué es un embargo?',
        description:
          "El embargo es una actuación de carácter judicial que consiste en la anotación de los bienes de un deudor para que, con el dinero que se perciba del remate de dichos bienes, se pueda pagar lo adeudado con el acreedor. ¿Quién es el acreedor? Es la institución o persona que prestó el dinero, es decir, el banco, casa comercial, caja de compensación, instituciones educacionales, entre otros.",
      },
      {
        title: '¿Cómo me defiendo frente a un embargo?',
        description:
          'Frente a la gestión de un embargo siempre existen alternativas a las que puede optar un deudor. En primer lugar, es recomendable alcanzar un acuerdo extra judicial con el acreedor o con su representante. Si bien, para la realización de esta gestión no se requiere contar con el patrocinio de un abogado, es recomendable que este tipo de acuerdos sean asesorados por un profesional, ya que él podrá resguardar de mejor manera los derechos e intereses del deudor, y evitar el incremento de manera desproporcionada del monto adeudado. Si lo anterior no es viable o bien no se alcanza un acuerdo extrajudicial, es conveniente que el deudor opte por defenderse en el juicio iniciado en su contra, para lo cual deberá contar con el patrocinio de un abogado. Esto implica participar activamente en el juicio, utilizando todos los medios e instancias procesales que la ley entrega para evitar el retiro de los bienes y provocar así el alzamiento del embargo que lo afecta.',
      },
      {
        title: '¿Qué hacer frente a una notificación judicial?',
        description:
          "Si una persona es notificada de una demanda por deudas debe acudir inmediatamente donde un abogado. Esto, porque una vez que se produzca el requerimiento de pago por parte de un receptor judicial, que puede ocurrir en el mismo momento de la notificación o unos días después, comenzará a correr el plazo para defenderse de la demanda, momento en el que se puede oponer a la ejecución con alguna de las excepciones previstas por la ley. La notificación de una demanda de cobranza es probablemente una de las instancias más relevantes en un juicio de cobranza. Por medio de esta notificación se pone en conocimiento a la persona de la interposición de una acción judicial en su contra, con el objeto de que se haga parte activa en el juicio a través de los medios procesales que la ley ha dispuesto a su favor. Es importante actuar rápido. Los plazos que la ley establece para defenderse de un juicio de cobranza (juicio ejecutivo) son extremadamente cortos. Por regla general, el plazo es de ocho días hábiles, incluidos los sábados. Este tiempo comienza a correr desde que se realiza el “requerimiento de pago”, gestión que en la gran mayoría de los casos es realizada por un receptor judicial y que puede formalizarse en el mismo momento de la notificación de la demanda o bien unos días después de realizada esta. En razón de lo anterior resulta fundamental que, frente a la notificación judicial de una demanda, la persona concurra inmediatamente ante un abogado calificado para defenderse. ",
      },
      {
        title: "¿Cómo acogerme a la ley de quiebra?",
        description:
          "Para acogerse a la Ley 20.720, también conocida como ley de quiebra, debe acompañar una solicitud al tribunal correspondiente a su jurisdicción, la que debe estar patrocinada por un abogado habilitado, quien actúa como representante frente al tribunal. Junto a esta solicitud se debe acompañar los siguientes antecedentes: Listado de bienes, lugar en donde se encuentran y los gravámenes que les afecten. Lista de los bienes legalmente excluidos de la Liquidación de los Bienes de la Persona Deudora. Listado de juicios pendientes del solicitante. Estado de deudas, con nombre, domicilio y datos de contacto de los acreedores. Se debe indicar el tipo de crédito; si es un crédito hipotecario, de consumo o si está asociado alguna prenda. En forma paralela se debe solicitar la nominación de un liquidador (el que es designado por los tres mayores acreedores del deudor) ésta es la persona encargada de enajenar los bienes del deudor. Esto quiere decir: tomar estos bienes y llevarlos a un martillero público para que sean rematados y con el dinero obtenido se logre pagar las deudas.",
      },
      {
        title: '¿Qué permite la Ley 20.720 a las empresas?',
        description:
          "La ley 20.720 de Insolvencia y Reemprendimiento contempla dos procedimientos para empresas con problemas de insolvencia: Reorganización. Liquidación. Ambos son procesos judiciales que requieren el patrocinio de un abogado habilitado y que se tramitan en Tribunales.",
      },
      {
        title: '¿Cómo puedo salir de DICOM?',
        description:
          "THay varias alternativas para salir de DICOM. La más sencilla y obvia es pagar la deuda o repactarla. Una vez que realizado el pago o la repactación es el mismo acreedor quien se encarga de informar a DICOM para eliminar el registro de la morosidad. Si existe tardanza en la gestión, el deudor puede concurrir con un certificado de deuda, emitido por el acreedor, ante el Boletín Comercial con el fin de informar su situación y apurar el proceso de eliminación de antecedentes del registro. Si la persona no puede pagar o repactar la deuda es importante saber que ninguna deuda puede estar publicada por más de cinco años, desde su vencimiento, en el Boletín Comercial y es la propia Cámara de Comercio la que una vez que se ha cumplido el plazo, es encargada de eliminar esta información de la base de datos financiera. Otra alternativa para salir de DICOM y quedar “limpios en el sistema” es acogerse a la Ley 20.720: Ley de Reorganización y Liquidación de Empresas y Personas, también conocida como ley de quiebra, la que establece procedimientos para reorganizar o renegociar las deudas o declararse en quiebra, lo que, en cualquiera de los casos, terminado el procedimiento, todas las deudas quedan extintas.",
      },
    ]}
  />

</Layout>
