---
import { SITE } from 'astrowind:config';
---

<!--<span class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
  🚀 {SITE?.name}
</span>--->

<span class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
  <img src="images/tu_logo.png" class="inline-block " alt="Asesorias y defensa deudas" style="height:120px;width:280px" width="220" height="160" loading="lazy" decoding="async">
</span>
